body {
    padding: 40px;
    margin-left: 260px;
    margin-right: 260px;
}

.statement{
    background-color: rgb(250, 207, 179);
    border: 1px solid rgb(255, 150, 59);
    border-left-color: hsl(22, 100%, 50%);
    border-radius: 5px;
    text-align: left;
    border-left-width: 3px;
}

.response::first-letter{
    font-size: x-large;
    font-weight: bolder;
}

.response{
    text-align: justify;
    padding-bottom: 13px;
}

